.container-1 {
    background-image: url('https://www.betterup.com/hubfs/Happy-work-team-cheering-and-celebrating-at-meeting-team-collaboration.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center;
    justify-content: stretch;
    filter: brightness(75%);
    color: white;
    padding: 50px 240px;
  }
  
  .container-1 .content-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container-1 .content-1 h1 {
    padding: 20px;
    background-color: rgb(3, 61, 77);
    border-radius: 18px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
    margin-right: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .container-1 .content-1 h1:hover {
    background-color: #065a71;
    transform: scale(1.05);
  }
  
  .container-1 .content-1 hr {
    border: none;
    width: 3px;
    height: 20rem;
    background-color: rgb(48, 45, 45);
    margin: 0 20px; 
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .container-1 .content-1 p {
    border-radius: 15px;
    background-color: rgb(194, 194, 194);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 20%;
    color: black;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    max-width: 200px; /* Adjust width as needed */
  }
  
  .container-1 .content-1 p:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
  }
  
  
  .container-2, .container-3 {
    background-color: #f0f0f0;
    padding: 40px 20px;
    margin: 20px 0;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .container-2:hover, .container-3:hover {
    background-color: #e0e0e0;
  }
  
  .container-2 h1, .container-3 h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    transition: color 0.3s ease;
  }
  
  .container-2 h1:hover, .container-3 h1:hover {
    color: #0970ee;
  }
  
  .container-2 div, .container-3 div {
    background-color: white;
    padding: 40px;
    margin: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .container-2 div:hover, .container-3 div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  .container-2 hr {
    border: none;
    height: 2px;
    background-color: #0970ee;
    margin: 20px 0;
    border-radius: 5px;
    transition: background 0.3s ease;
  }